html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to bottom right, #002f4b, #c73b1f);
}

/* Scrollbalken */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}


/* Header */

.hero {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
}

.heading {
  position: relative;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.font-link {
  font-family: "Montserrat";
  color: white;
  font-weight: 300;
  font-size: 48px;
}

.font-link span {
  font-family: "Montserrat";
  color: #002f4b;
  font-weight: 600;
}

.font-link p {
  margin: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.drop-in {
  animation: drop-in 1s ease 250ms backwards;
}

.drop-in-2 {
  animation: drop-in 1200ms ease 800ms backwards;
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.mehrButton {
  position: relative;
  font-size: 19.2px;
  font-family: "Montserrat";
  color: #002f4b;
  opacity: 100%;
  border-radius: 10px;
  border: 3px solid #002f4b;
  font-weight: 600;
  margin-top: 1rem;
  padding: 0.2rem 1rem;
  width: 10rem;
  animation: mehrButton 1200ms ease 1500ms backwards;
  transition: all 0.5s;
  overflow: hidden;
}

.mehrButton:hover {
  top: -2.5px;
  bottom: 2.5px;
}

@keyframes mehrButton {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.aboutLink {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 700px) {
  * {
    overflow-x: hidden;
}

  .hero {
    height: 100vh;
  }

  .heading {
    width: 80%;
  }

  .font-link {
    font-size: 32px;
  }

  .mehrButton {
    font-size: 16px;
    margin-top: 0.5rem;
    padding: 0.2rem 0.5rem;
    width: 8rem;
  }
}

/* Navbar */

.navigation-bar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid #1a1a1a;
  backdrop-filter: blur(8px);
  background: linear-gradient(to bottom, transparent, rgba(40, 40, 40, 0.6));
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.navigationList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin: 0 5.5rem 0 3rem;
  padding: 0;
  text-align: center;
}

.navigation {
  list-style: none;
  margin: 0 1rem;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 600;
  color: white;
}

.navigation--active a {
  color: #ff3c00;
}

@media (max-width: 700px) {
  .navigationList {
    justify-content: center;
    margin: 0rem;
  }

  .navigation {
    margin: 0.5rem;
    padding: 0 10px;
    font-size: 15px;
  }

  .navigation-bar {
    height: 3rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
