html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(31, 31, 31);
}

.hero {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
}

.heading {
  position: relative;
  align-self: center;
  justify-self: center;
  display: block;
  flex-direction: column;
  align-items: center;
  line-height: normal;
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.font-link {
  font-family: 'Montserrat';
  color: white;
  font-weight: 300;
  font-size: 48px;
}

.font-link span {
  font-family: 'Montserrat';
  color: rgb(0, 225, 255);
  font-weight: 500;
}

.font-link p {
  margin: 0;
}

.overflow-hidden {
  overflow: hidden;
 }

.drop-in {
  animation: drop-in 1s ease 250ms backwards;
 }
 
 .drop-in-2 {
  animation: drop-in 1200ms ease 800ms backwards;
 }
 
 @keyframes drop-in {
  from {
   opacity: 0;
   transform: translateY(-100px);
  }
  to {
   opacity: 1;
   transform: translate(0px);
  }
 }
 
